.search-input--container {
  display: flex;
  background-color: white;
  border-radius: 15px;
  padding: 0.3rem;
  color: black;
}

.search-input--container input {
  -webkit-appearance: none;
  appearance: none;
  border: none;
}
.search-input--container input:focus {
  outline: none;
}

.search-input--container button {
  background-color: black;
  border: none;
  color: white;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  border-radius: 13px;
}

.search-input--container button:hover {
  background-color: rgb(71, 71, 71);
}
