.header {
  height: 70px;
  width: 100%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .logo-container {
  cursor: pointer;
  height: 2em;
}

.header .logo-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
